body {
    background-color: antiquewhite;
}
header {
    
}
h1 {
    text-align: center;
}
h3 {
    font-size: 26px;
}
p {
    font-size: 18px;
}
ol {
    text-decoration: none;
}
.icon {
    color: silver;
}
.pricing {
    
}
#header {
    display: flex;
    justify-content: space-between;
}
#nav-bar {
    overflow: hidden;
    background-color: azure;
    height: 55px;
}
#nav-bar a {
    font-size: 46px;
    text-decoration: none;
    color: black;
    padding: 14px 16px;
}
#nav-bar a:hover {
    background-color: silver;
}
#header-img {
    width: 35%;
}
#form {
    text-align: center;
}
#email {

}
#features {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}
#premium {
    
}
#easily {

}
#legal {

}
#video {
    text-align: center;
}
#pricing {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#single {
    border: 3px solid black;
    text-align: center;
}
#single-tag {
    background-color: silver;
    font-size: 34px;
}
#mini {
    border: 3px solid black;
    text-align: center;
}
#mini-tag {
    background-color: silver;
    font-size: 34px;
}
#monster {
    border: 3px solid black;
    text-align: center;
}
#monster-tag {
    background-color: silver;
    font-size: 34px;
}