body {
    background-color: antiquewhite;
}
header {
    
}
main {
    margin-top: 100px;
}
h1 {
    text-align: center;
}
h3 {
    font-size: 26px;
}
p {
    font-size: 18px;
}
ol {
    text-decoration: none;
}
footer {
    border-top: 2px solid black;
}
.icon {
    color: silver;
    padding-right: 35px;
}
.pricing {
    
}
#header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
}
#nav-bar {
    overflow: hidden;
    background-color: azure;
    height: 55px;
}
#nav-bar a {
    font-size: 46px;
    text-decoration: none;
    color: black;
    padding: 14px 16px;
    
}
#nav-bar a:hover {
    background-color: silver;
}
#header-img {
    width: 35%;
}
#form {
    text-align: center;
}
#email {

}
#features {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#premium {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#easily {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#legal {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#video-1 {
    text-align: center;
}
#video {
    width: 500px;
    height: 400px;
}
#pricing {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#single {
    border: 3px solid black;
    text-align: center;
}
#single-tag {
    background-color: silver;
    font-size: 34px;
}
#mini {
    border: 3px solid black;
    text-align: center;
}
#mini-tag {
    background-color: silver;
    font-size: 34px;
}
#monster {
    border: 3px solid black;
    text-align: center;
}
#monster-tag {
    background-color: silver;
    font-size: 34px;
}
@media only screen and (max-width: 600px) {
    #video {
        width: 50%;
        height: 50%;
    }
}